/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Style */
/* header */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: "open Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: "roboto Slab" serif;
}

.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 32px;
}
.header{
    background-color: #5385c1;
    padding: 32px 0;
	position: fixed;
	width:100%;
}
.brand-img{
    width:22%;
	border-radius: 10px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
	margin-left: 32px;
}

/* Article Section */
.article{
	background-color: #e1e1e1;
	padding:80px 0;
	padding-top: 180px;
}
.article .flex{
	align-items: flex-start;

}
.article-box{
	width: 48%;
	
}
.article img{
	width:100%;
	height: 390px;
	border-radius: 10px;
	object-fit: cover;
}
.article-heading{
	font-size: 40px;
	color: #5385c1;
	margin-bottom: 16px;
	text-transform: capitalize;
}
.article-para{
	font-size: 18px;
	line-height: 1.7;
	color: #676767;
	text-transform: capitalize;
	
}
/* Gallery Section */
.gallery{
	padding: 80px 0;
}
.gallery-heading{
	text-align: center;
	color:#22396a;
	font-size: 40px;
	margin-bottom: 32px;
}
.gallery .flex{
	flex-wrap: wrap;

}
.gallery-box{
	width:30%;
	margin: 16px 0;
}
.gallery img{
	width:100%;
	border-radius: 8px;
	height:300px;
	border: 2px solid #22396a;
}

/* footer */
.footer{
	background-color: #5385c1;
	padding: 60px 0;
	text-align: center;
}
.footer a {
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 16px;
}
/* Top button */
.top-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width:60px;
	height:60px;
	color:#fff;
	background-color: black;
	position: fixed;
	right:32px;
	bottom: 32px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
